.trigger {
  padding: 16px;
  border-radius: 12px;
  width: 160px;
  margin: 32px 0;
  background-color: #fa7e29;
  color: #fff;
  border: none;
  
  &:focus {
    outline: none;
  }
}

.category-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;

  &__category {
    height: 200px;
    overflow: auto;
  }

  &__categories {
    display: flex;
    flex-direction: column;
    width: 40%;

    &__list {
      margin: 0;
      padding: 0;
  
      &__value {
        display: block;
        list-style-type: none;
        border: solid 1px #4a4a4a;
        padding: 8px;
        margin-bottom: 4px;
      }
    }
  }

  &__selected-values {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-height: 500px;
    overflow-y: scroll;

    &__title {
      margin-bottom: 24px;
    }

    &__list {
      margin: 0;
      padding: 0;

      &__value {
        display: block;
        list-style-type: none;
        border: solid 1px #4a4a4a;
        padding: 8px;
        margin-bottom: 4px;
      }
    }
  }
}

.search {
  &__bar {
    padding: 8px 16px;
    outline-color: #ddd;
    border-radius: 7px;
    width: 500px;
    border: 2px solid #eee;
  }
  
  &__results {
    margin: 0;

    &__item {
      list-style-type: none;
    }
  }
}

.done {
  padding: 16px;
  border-radius: 12px;
  width: 160px;
  margin: 32px 0;
  background-color: #fa7e29;
  color: #fff;
  border: none;
  
  &:focus {
    outline: none;
  }
}