.accordion {
  padding: 0 16px;

  &__section {
    border-bottom: 1px solid #f1f1f1;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
  }
}

.hide {
   display: none;
}